@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-neutral-900 dark:text-neutral-300 transition-all duration-1000;
}

@media print {
  body {
    zoom: 70%;
  }
  @page {
    size: A4;
    margin: 4mm 0;
  }
}
